@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.active-developer {
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: left;
}

.green {
  color: rgb(108, 204, 99)
}