.container {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.active-developer {
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: left;
}

.green {
  color: rgb(108, 204, 99)
}